ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.select-time-ul .select-time
{
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
}
li.errors{
    padding: 10px;
    display: block;
    color: red;
    border-color: red;

}
.appointment-card{
    background: white;
    border: 1px solid green;
    padding: 10px ;
}
